<div class="mail-tile">
    <div class="mail-list">
        <div class="mail">
            <div class="checkbox-container">
                <input type="checkbox" name="select">
                <input type="checkbox" name="favorite">
            </div>
            <div class="mail-content">
                <span class="mail-theme">{{theme}}</span>
                <span class="mail-title">{{title}}</span>
            </div>
            <span class="mail-date">{{date}}</span>
        </div>
    </div>
</div>