.mail-list {
    width: 100%;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid, 2px, var(--muted-text);
    border-radius: 20px;
    padding: 10px 20px;
    gap: 15px;
    height: 35px;
    font-size: 20px;
}

.mail:hover {
    background-color: var(--color-main-background);
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.checkbox-container input {
    height: 20px;
    width: 20px;
}

.checkbox-container .input-form img{
    display: none;
}

input[name="select-checkbox"] {
    appearance: none;
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    color: var(--button-active-background);
    margin: 0;
    background-image: url('/public/assets/svg/CheckboxOff.svg');
    background-size: contain;
    background-position: center;
}

input[name="select-checkbox"]:hover {
}

input[name="select-checkbox"]:checked {
    background-image: url('/public/assets/svg/CheckboxOn.svg');
}


input[name="select-checkbox"]:checked:hover {
}


input[name="favorites-checkbox"] {
    appearance: none;
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    color: var(--button-active-background);
    margin: 0;
    background-image: url('/public/assets/svg/StarOff.svg');
    background-size: contain;
    background-position: center;
}

input[name="favorites-checkbox"]:hover {
    background-image: url('/public/assets/svg/StarOff.svg');
}

input[name="favorites-checkbox"]:checked {
    background-image: url('/public/assets/svg/StarOn.svg');
}


input[name="favorites-checkbox"]:checked:hover {
    background-image: url('/public/assets/svg/StarOn.svg');
}


.mail-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.mail-theme {
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight:500;

}

.mail-title {
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mail-date {
    margin-left: auto;
    width: 100px;
    text-align: right;
}