@import "/src/widgets/MailHeader/MailHeader.css";

.mail-list {
    width: 100%;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid, 2px, var(--mail-stroke);
    border-radius: 20px;
    padding: 10px 20px;
    gap: 15px;
    max-height: 60px;
    font-size: 20px;
}

.mail:hover {
    background-color: var(--color-main-background);
    transition: 100ms;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.checkbox-container input {
    height: 20px;
    width: 20px;
    border: none;
}

.checkbox-container .input-form img {
    display: none;
}

input[name="select-checkbox"] {
    appearance: none;
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    color: var(--button-active-background);
    margin: 0;
    background-image: url("/public/assets/svg/CheckboxOff.svg");
    background-size: contain;
    background-position: center;
}

input[name="select-checkbox"]:checked {
    background-image: url("/public/assets/svg/CheckboxOn.svg");
}

input[name="favorites-checkbox"] {
    appearance: none;
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    color: var(--button-active-background);
    margin: 0;
    background-image: url("/public/assets/svg/StarOff.svg");
    background-size: contain;
    background-position: center;
}

input[name="favorites-checkbox"]:hover {
    background-image: url("/public/assets/svg/StarOff.svg");
}

input[name="favorites-checkbox"]:checked {
    background-image: url("/public/assets/svg/StarOn.svg");
}

input[name="favorites-checkbox"]:checked:hover {
    background-image: url("/public/assets/svg/StarOn.svg");
}

.mail-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: 0;
}

.mail-theme {
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.mail-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mail-date {
    width: 120px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: auto;
}
