input {
    border: solid 2px var(--tertiary-text);
    border-radius: 20px;
    height: 60px;
    font-size: 24px;
    padding-left: 8px;
    max-width: 500px;
}

input::placeholder {
    font-size: 20px;
    padding-left: 3px;
}
