<button name="{{name}}">
    {{#if svg}}
    <svg width="40px" height="40px">
        <use href="{{svg}}"></use>
    </svg>
    {{/if}}
    {{title}}
    {{#if count}}
    <p class="count">{{count}}</p>
    {{/if}}
</button>