.folder-container {
    width: 350px;
    .folder-list {
        .folder-item {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 10px 20px;
            font-size: 16px;

            .folder-delete-btn {
                width: 24px;
                height: 24px;
                background-color: transparent;
                padding: 0;
                color: var(--error-text);
                border: 2px solid var(--error-text);
            }

            .folder-name {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding: 10px 20px;
                font-size: 16px;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    background-color: var(--tertiary-text);
                    mask-image: url("/assets/svg/Folder.svg");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }

            .folder-edit {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 10px 20px;

                input {
                    height: 28px;
                    width: 150px;
                    font-size: 16px;
                    background-color: transparent;
                    color: var(--tertiary-text);
                }


                &::before {
                    content: "";
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    background-color: var(--tertiary-text);
                    mask-image: url("/assets/svg/Folder.svg");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }

            .folder-drag-btn {
                width: 24px;
                height: 24px;
                background-color: transparent;
                padding: 0;

                /* &::before {
                    content: "";
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    background-color: var(--tertiary-text);
                    mask-image: url("/assets/svg/DragReorder.svg");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                } */
            }
        }
    }
    .folder-actions {
        display: flex;
        [name="add_a_folder"] {
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 15px;

            &::before {
                content: "";
                display: inline-block;
                width: 32px;
                height: 32px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/AddNew.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }
    }
}
