.input-container {
    border-bottom: none;
    padding: 5px 0;

    .input-form {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
            padding: 0;
            background-color: transparent;
            color: var(--tertiary-text);
            height: 24px;
        }

        .email-tag {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background-color: var(--button-background-second);
            border-radius: 12px;
            padding: 0 10px;
            height: 24px;
            color: var(--tertiary-text);

            &__error {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                background-color: var(--input-error-background);
                border-radius: 12px;
                padding: 0 10px;
                height: 24px;
                color: var(--tertiary-text);
            }
        }
    }
}
