.input-container {
    border-bottom: none;
    padding: 5px 0;

    .input-form {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .email-tag {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background-color: var(--color-main-background);
            border-radius: 12px;
            padding: 0 10px;
            height: 24px;

            button {
                padding: 0;
                background-color: transparent;
                color: var(--tritary-text);
            }
        }
    }
}
