.select-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    select {
        outline: none;
        width: 109px;
        height: 48px;
        background-color: transparent;
        &[name="day"] {
            border: 2px solid var(--input-stroke);
            border-right: none;
            border-radius: 20px 0 0 20px;
        }
        &[name="month"] {
            border: 2px solid var(--input-stroke);
            width: 181px;
        }
        &[name="year"] {
            border: 2px solid var(--input-stroke);
            border-left: none;  
            border-radius: 0 20px 20px 0;
        }

        option {
            border-radius: 20px;
        }
    }
}
