.send-mail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .send-mail-header {
        display: none;

        .send-mail-header__text {
            color: var(--tertiary-text);
        }
    }

    .send-form {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        padding: 10px;

        .input-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 16px;
            width: 100%;
            overflow: hidden;

            &[data-input-name="theme"] {
                border-top: 1px solid var(--secondary-text);
                border-bottom: 1px solid var(--secondary-text);
            }

            .input-form {
                flex: 1;
                width: 100%;
                min-width: 0;
                overflow: visible;
            }

            input {
                max-width: 100%;
                color: var(--tertiary-text);
                font-size: 16px;
                overflow-x: auto !important;
                white-space: nowrap;
            }
        }
    }

    .files-list {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin: 10px;
        height: 85px;
        overflow: hidden;
        overflow-x: auto;
        scrollbar-width: none;

        .file-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            background-color: var(--color-main-background);
            border-radius: 20px;
            padding: 10px 20px;
            flex-shrink: 0;
            height: fit-content;

            .file-icon {
                height: 28px;
                width: 28px;
                background-color: var(--tertiary-text);
                mask-image: url(/assets/svg/Draft.svg);
                mask-size: contain;
                mask-position: center;

                &.image {
                    mask-image: url(/assets/svg/Image.svg);
                }

                &.video {
                    mask-image: url(/assets/svg/Video.svg);
                }

                &.spreadsheet {
                    mask-image: url(/assets/svg/Spreadsheet.svg);
                }

                &.archive {
                    mask-image: url(/assets/svg/Zip.svg);
                }

                &.music {
                    mask-image: url(/assets/svg/Music.svg);
                }

                &.presentation {
                    mask-image: url(/assets/svg/Presentation.svg);
                }
            }

            .file-info {
                display: flex;
                flex-direction: column;

                .file-name {
                    font-weight: 500;
                }

                .file-size {
                    color: var(--muted-text);
                }
            }

            .file-remove-btn {
                height: 12px;
                width: 12px;
                margin-left: 15px;
                cursor: pointer;
                background-color: var(--tertiary-text);
                mask-image: url(/assets/svg/Close.svg);
                mask-size: contain;
                mask-position: center;
            }
        }
    }

    .send-down {
        display: flex;
        gap: auto;

        .send-tools {
            margin-left: 15px;
            display: flex;
            align-items: center;

            .upload-attachments-button {
                height: 36px;
                width: 36px;
                cursor: pointer;
                background-color: var(--tertiary-text);
                mask-image: url(/assets/svg/Attachment.svg);
                mask-size: contain;
                mask-position: center;

                &:hover {
                    background-color: var(--secondary-text);
                    transition: background-color 0.15s ease-in-out;
                }
            }
        }

        .send-actions {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-left: auto;
            padding: 10px;

            button {
                height: 40px;

                &[name="save-mail"] {
                    display: flex;
                    align-items: center;
                    background-color: var(--color-main-background);
                    color: var(--tertiary-text);

                    &:hover {
                        background-color: var(--color-main-background);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .send-mail {
        .send-mail-mobile-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 20px;

            .close-button {
                height: 22px;
                width: 22px;
                fill: black;
                background-color: var(--tertiary-text);
                mask-image: url(/assets/svg/Close.svg);
                mask-size: contain;
                mask-position: center;
            }

            .send-button {
                height: 32px;
                width: 32px;
                background-color: var(--tertiary-text);
                mask-image: url(/assets/svg/Sent.svg);
                mask-size: contain;
                mask-position: center;
            }
        }

        .send-mail-header {
            display: block;
            font-size: 1.3rem;
            font-weight: 600;
            padding: 10px 20px 0 20px;
        }
    }
}
