<div class="main-page">
    <aside class="sidebar"></aside>
    <div class="right-part">
        <div class="top-bar">
            <div class="search-bar"></div>
            <div class="top-right-menu"></div>
        </div>
        <div class="mail-box-container"></div>
    </div>
</div>