.sidebar-widget {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: var(--color-sidebar-background);
    border-radius: 0px 20px 20px 0px;
    padding: 40px 30px;
    margin: 20px 0;

    height: calc(100vh - 40px);
    overflow-y: auto;

    position: sticky;
    box-sizing: border-box;

    width: 100%;

    .logo-container {
        cursor: pointer;
    }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        width: 100%;
    }

    .main-button,
    .main-button-profile,
    .main-button-container,
    .extra-button-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 7px;
        width: 100%;

        [name="button-new-letter"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--primary-text);
                mask-image: url("/assets/svg/Compose.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-inbox"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Inbox.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-drafs"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Draft.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-sends"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Sent.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-favorites"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/SidebarFavorites.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-spam"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Spam.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-trash"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Trash.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-all-letter"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/AllMail.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }
    }

    .sidebar-profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 146px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        span {
            text-align: center;
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: var(--tertiary-text);
        }

        p {
            text-align: center;
            color: var(--secondary-text);
            font-size: 14px;
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .main-button,
    .main-button-profile {
        button {
            display: flex;
            gap: 6px;
            align-items: center;
            width: 100%;
            height: 40px;
            font-size: 16px;
            border-radius: 14px;
            color: var(--primary-text);
        }
    }

    .main-button-profile {
        button {
            &::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: var(--primary-text);
                mask-image: url("/assets/svg/ArrowLeft.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }
    }

    .main-button-container,
    .extra-button-container {
        button {
            display: flex;
            align-items: center;
            gap: 7px;
            width: 100%;
            height: 40px;
            background-color: var(--color-sidebar-background);
            font-size: 16px;

            &:hover {
                background-color: var(--color-main-background);
            }

            &[data-is-select="true"] {
                background-color: var(--color-main-background);
            }
        }
    }

    .main-button-container {
        button {
            color: var(--tertiary-text);
        }

        [name="button-profile"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Avatar.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-security"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Lock.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-settings"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Settings.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }

        [name="button-folder"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--tertiary-text);
                mask-image: url("/assets/svg/Folder.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
            }
        }
    }

    .extra-button-container {
        padding-top: 15px;
        button {
            color: var(--tertiary-text) !important;
            padding: 0 20px 0 50px !important;
            gap: 15px;
        }
    }

    button {
        img {
            width: 32px;
            height: 32px;
        }
    }

    .count {
        margin-left: auto;
        font-size: 18px;
    }

    .drop-down {
        [name="button-drop-down"] {
            &::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: var(--muted-text);
                mask-image: url("/assets/svg/DropdownArrow.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;

                transition: transform 0.3s;
            }

            &.active::before {
                transform: rotate(180deg);
            }
        }

        button {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            padding: 0 20px;
            background-color: var(--color-sidebar-background);
            color: var(--secondary-text);
            font-size: 16px;
            gap: 10px;
            margin-left: 8px;
        }
    }
}
