<div class="sidebar-widget">
    <h1 class="logo__title">SMAIL</h1>
    <div class="main-button"></div>
    <div class="main-button-container"></div>
    <div class="drop-down"></div>
        <div class="extra-button-container"></div>
    </select>
</div>