<div class="sidebar-widget">
    <div class="logo-container">
        <svg width="72px" height="60px">
            <use href="/public/assets/svg/Logo.svg"></use>
        </svg>
        <h1 class="logo__title">SMail</h1>
    </div>
    <div class="main-button"></div>
    <div class="main-button-container"></div>
    <div class="drop-down"></div>
    <div class="extra-button-container"></div>
</div>