<div class="mail-header">
    <div class="mail-header__left-container">
        <div class="left-container__select-all"></div>
    </div>
    <div class="mail-header__right-container">
        <p>1-50 из 369</p>
    </div>
</div>