.profile {
    padding: 20px;
    .profile-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profile-content {
        display: flex;
        gap: 40px;
        padding: 20px 20px;

        .profile-avatar {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                height: 40px;
                border-radius: 14px;
                font-size: 16px;
                background-color: var(--color-sidebar-background);
                border: solid 3px var(--accent);
                color: var(--accent);
                width: 100%;

                &:hover {
                    background-color: var(--color-main-background);
                }
            }
        }

        .profile-form {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 400px;

            .input-form {
                border: 2px solid var(--input-stroke);

                &.error {
                    border-color: var(--error-text);

                    input {
                        color: var(--error-text);
                    }

                    .password-toggle {
                        background-color: var(--error-text);
                    }
                }

                &.success {
                    border-color: var(--button-active-background);

                    input {
                        color: var(--button-active-background);
                    }

                    .password-toggle {
                        background-color: var(--button-active-background);
                    }
                }
            }

            .auth-input__error {
                height: 20px;
                padding-left: 15px;
                color: var(--error-text);
            }

            .profile-actions {
                display: flex;
                gap: 10px;
            }

            button {
                height: 40px;
                border-radius: 20px;
                font-size: 16px;
                display: flex;
                align-items: center;

                &[name="back-to-mail"] {
                    background-color: var(--color-sidebar-background);
                    border: solid 3px var(--accent);
                    color: var(--accent);

                    &:hover {
                        background-color: var(--color-main-background);
                    }
                }
            }
        }
    }
}
