 <div class="auth-page">
    <div class="auth-container">
        <div class="auth-page__form-container">
            <h1 class="logo__title">SMAIL</h1>
            <h1 class="auth-form__title">{{title}}</h1>
            <form action="" class="auth-form">
                <div class="auth-form__inputs"></div>
                <div class="auth-form__actions"></div>
            </form>
        </div>
    </div>
</div>