<div class="auth-page">
    <div class="auth-container">
        <div class="auth-page__form-container">
            <div class="logo-container">
                <svg width="72px" height="60px">
                    <use href="/public/assets/svg/Logo.svg"></use>
                </svg>
                <h1 class="logo__title">SMail</h1>
            </div>
            <h1 class="auth-form__title">{{title}}</h1>
            <form action="" class="auth-form">
                <div class="auth-form__inputs"></div>
                <div class="auth-form__actions"></div>
            </form>
        </div>
    </div>
</div>